@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #caf0f8;
  --foreground: #90e0ef;
  --text: #fff;
  --text-foreground: #00b4d8;
  --primary: #03045e;
  --secondary: #0077b6;
}

body {
  /* padding: 2.5rem; */
  background-color: var(--background);
  color: var(--text);
}

.font-qwitcher {
  font-family: var(--font-body);
}

.font-header {
  font-family: var(--font-header);
}

h1 {
  font-family: var(--font-header);
}

.gradient-border {
  background: linear-gradient(
    0deg,
    rgba(3, 4, 94, 1) 1%,
    rgba(0, 119, 182, 1) 88%
  );
  padding: 2px;
  border-radius: 8px;
}
